<div id="<%= dom_id cuenta_banco %>">
  <p>
    <strong>User:</strong>
    <%= cuenta_banco.user_id %>
  </p>

  <p>
    <strong>Numerocuenta:</strong>
    <%= cuenta_banco.numeroCuenta %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= cuenta_banco.saldo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= cuenta_banco.tipo %>
  </p>

  <p>
    <strong>Comision:</strong>
    <%= cuenta_banco.comision %>
  </p>

  <p>
    <strong>Divisa:</strong>
    <%= cuenta_banco.divisa %>
  </p>

</div>
