<p style="color: green"><%= notice %></p>

<%= render @cuenta_banco %>

<div>
  <%= link_to "Edit this cuenta banco", edit_cuenta_banco_path(@cuenta_banco) %> |
  <%= link_to "Back to cuenta bancos", cuenta_bancos_path %>

  <%= button_to "Destroy this cuenta banco", @cuenta_banco, method: :delete %>
</div>
