<div id="<%= dom_id cuenta_banca %>">
  <p>
    <strong>User:</strong>
    <%= cuenta_banca.user_id %>
  </p>

  <p>
    <strong>Numerocuenta:</strong>
    <%= cuenta_banca.numeroCuenta %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= cuenta_banca.saldo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= cuenta_banca.tipo %>
  </p>

  <p>
    <strong>Comision:</strong>
    <%= cuenta_banca.comision %>
  </p>

  <p>
    <strong>Divisa:</strong>
    <%= cuenta_banca.divisa %>
  </p>

</div>
