<p style="color: green"><%= notice %></p>

<%# Mostramos Criptos %>
<div id="criptos">
    <% @cuentas = CuentaBanca.all %>
  <% @cuentas.each do |cuenta| %>
    <%= render cuenta %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this cuenta banca", edit_cuenta_banca_path(@cuenta_banca) %> |
  <%= link_to "Back to cuenta bancas", cuenta_bancas_path %> 

  <%= button_to "Destroy this cuenta banca", @cuenta_banca, method: :delete %>
</div>
