<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= user.apellidos %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= user.dni %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= user.telefono %>
  </p>

  <p>
    <strong>Contrasena:</strong>
    <%= user.contrasena %>
  </p>

</div>
