<div id="<%= dom_id tarjetum %>">
  <p>
    <strong>Titular:</strong>
    <%= tarjetum.titular %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= tarjetum.numero %>
  </p>

  <p>
    <strong>Cvc:</strong>
    <%= tarjetum.cvc %>
  </p>

  <p>
    <strong>Fechacaducidad:</strong>
    <%= tarjetum.fechacaducidad %>
  </p>

  <p>
    <strong>Idcuenta:</strong>
    <%= tarjetum.idCuenta %>
  </p>

  <p>
    <strong>Idusuario:</strong>
    <%= tarjetum.idUsuario %>
  </p>

</div>
