<p style="color: green"><%= notice %></p>

<%= render @wallet_cripto %>

<div>
  <%= link_to "Edit this wallet cripto", edit_wallet_cripto_path(@wallet_cripto) %> |
  <%= link_to "Back to wallet criptos", wallet_criptos_path %>

  <%= button_to "Destroy this wallet cripto", @wallet_cripto, method: :delete %>
</div>
