<!DOCTYPE html>
<html>
  <head>
    <title>DS18</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

 <header>

  <h1>Home Bank</h1>
  <h3><i>Tu banco en casa</i></h3>
  <div class = "contMenu">

  <ul>
  <li><%= link_to "Projects", :projects %></li>
  <li><%= link_to "Developers", :developers %></li>
  <li><%= link_to "Perros", :perros %></li>
  <li><%= link_to "Usuarios", :usuarios %></li>
	<li><%= link_to "Users", :users %></li>
	<li><%= link_to "Cuenta Banco", :cuenta_bancos %></li>

  </ul>
  </div>
 </header>

  
   </div>
    <%= yield %>

  </body>
</html>
