<!DOCTYPE html>
<html>
  <head>
    <title>Local</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <header class="ContMenu" >

    <div class="contLogo">
      <h1>Home Bank</h1>

    </div>

    <div class="contSesion">
    <% if user_signed_in? %>
    <li><%= link_to 'Terminar Sesion', destroy_user_session_path, :method => :delete %></li>
    
    <div class= "contSaldo">
    <h3>Saldo Cuenta Principal</h3> <br>
    <% @cuenta = CuentaBanca.where(user_id: current_user.id ).first() %>
    <%# <% @cuenta = CuentaBanca.select(:saldo) %>
    <%=  @cuenta.attributes["saldo"] %>
    <%# <%= render @valor%> 
    </div>
    <% else %>
    <li><%= link_to 'Iniciar sesion ', new_user_session_path %></li>
    <% end %>
    </div>


  </header>
<% if user_signed_in? %>
  <div class= "menu">
   <li><%= link_to "CuentaBancos", :cuenta_bancas %></li>
 <li><%= link_to "Criptos",  wallet_criptos_path %></li>
 <% end %>
    <body>
  </div>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
